//- dev или prod
- var env = "dev";

- var siteVersion = "1.0.0";
- var siteColor = "#9013fe";

- var siteUrl = "http://localhost:3000";
- var siteTitle = "Документация";
- var siteDescription = "Документация по Gulp сборке";

- var google = "GTM-XXXXXX";
- var yandex = "XXXXXX";
