extends ../../layouts/default.pug

block variables
  - var pageTitle = "Справочник терминов";
  - var pageDesc = "Значение терминов, используемых в документации.";

block intro
  h1 #{ pageTitle }
  p #{ pageDesc }

block append toc
  :markdown-it
    - [B](intro/#b)
    - [C](intro/#c)
    - [G](intro/#g)
    - [L](intro/#l)
    - [M](intro/#m)
    - [P](intro/#p)
    - [T](intro/#t)

block content

  +h2("B", "intro", "b")
  :markdown-it
    **Babel** [#](intro/#babel){id="babel" aria-label="Ссылка на термин: Babel"} - это инструмент для транспиляции (преобразования) кода на JavaScript из одной версии в другую. Он позволяет разработчикам использовать современные функции и синтаксис JavaScript, которые могут не поддерживаться в старых версиях браузеров или Node.js, и автоматически преобразовывать этот код в более старые версии, которые поддерживаются на всех платформах.  
    
  +h2("С", "intro", "с")
  :markdown-it
    **Commit** [#](intro/#commit){id="commit" aria-label="Ссылка на термин: Commit"} - представляет собой операцию, при которой изменения в исходном коде и других файлах проекта сохраняются в истории репозитория. 
  
  +h2("G", "intro", "g")
  :markdown-it
    **Git** [#](intro/#git){id="git" aria-label="Ссылка на термин: Git"} - это система контроля версий позволяет разработчикам отслеживать изменения в коде и сотрудничать над проектами с несколькими участниками. 

  +h2("L", "intro", "l")
  :markdown-it
    **Linter** [#](intro/#linter){id="linter" aria-label="Ссылка на термин: Linter"} - это инструмент, который используется для статического анализа и проверки исходного кода с целью выявления потенциальных проблем, ошибок, несоответствий стандартам кодирования и других недочетов. Линтеры работают до или во время компиляции, выполнения или транспиляции кода, и они не изменяют код напрямую.
    
  +h2("M", "intro", "m")
  :markdown-it
    **Mixin** [#](intro/#mixin){id="mixin" aria-label="Ссылка на термин: Mixin"} - позволяет определить повторно используемый блок кода (шаблон) и вставлять его в различные части. Его можно рассматривать как пользовательский шаблон, который можно вызвать и использовать внутри других файлов.
  
  +h2("P", "intro", "p")
  :markdown-it
    **Pug** [#](intro/#pug){id="pug" aria-label="Ссылка на термин: Pug"} - это шаблонизатор для языка разметки HTML. Он предоставляет удобный и краткий синтаксис для создания HTML-разметки, что делает код более читаемым и уменьшает количество повторяющегося кода.
    
  +h2("S", "intro", "s")
  :markdown-it
    **Scss** [#](intro/#scss){id="scss" aria-label="Ссылка на термин: Scss"} - это расширение для языка CSS, которое добавляет множество дополнительных возможностей и улучшений к стандартному синтаксису CSS. SCSS является одним из препроцессоров CSS, что означает, что он позволяет использовать переменные, вложенности, миксины и другие возможности, которые облегчают и улучшают процесс написания стилей.
    
  +h2("T", "intro", "t")
  :markdown-it
    **Task** [#](intro/#task){id="task" aria-label="Ссылка на термин: Task"} - в контексте Gulp, таск (или задача) - это функция, которая выполняет определенную операцию или набор операций. Таски являются основными строительными блоками в Gulp и используются для автоматизации различных задач в процессе разработки, таких как компиляция CSS, сборка JavaScript, оптимизация изображений и т.д.
