extends ../../layouts/default.pug

block variables
  - var pageTitle = "Справочник терминов";
  - var pageDesc = "Значение терминов, используемых в документации.";

block intro
  h1 #{ pageTitle }
  p #{ pageDesc }

block append toc
  :markdown-it
    - [B](intro/#b)
    - [G](intro/#g)
    - [L](intro/#l)

block content

  +h2("B", "intro", "b")
  :markdown-it
    **Babel** [#](intro/#babel){id="babel" aria-label="Ссылка на термин: Babel"} - это инструмент для транспиляции (преобразования) кода на JavaScript из одной версии в другую. Он позволяет разработчикам использовать современные функции и синтаксис JavaScript, которые могут не поддерживаться в старых версиях браузеров или Node.js, и автоматически преобразовывать этот код в более старые версии, которые поддерживаются на всех платформах.  
    
  +h2("С", "intro", "с")
  :markdown-it
    **Commit** [#](intro/#commit){id="commit" aria-label="Ссылка на термин: Commit"} - представляет собой операцию, при которой изменения в исходном коде и других файлах проекта сохраняются в истории репозитория. 
  
  +h2("G", "intro", "g")
  :markdown-it
    **Git** [#](intro/#git){id="git" aria-label="Ссылка на термин: Git"} - это система контроля версий позволяет разработчикам отслеживать изменения в коде и сотрудничать над проектами с несколькими участниками. 

  +h2("L", "intro", "l")
  :markdown-it
    **Linter** [#](intro/#linter){id="linter" aria-label="Ссылка на термин: Linter"} - это инструмент, который используется для статического анализа и проверки исходного кода с целью выявления потенциальных проблем, ошибок, несоответствий стандартам кодирования и других недочетов. Линтеры работают до или во время компиляции, выполнения или транспиляции кода, и они не изменяют код напрямую.
