extends ../layouts/default.pug

block variables
  - var pageTitle = "Документация";
  - var pageDesc = "Описание по разворачиванию сборки проекта и дальнейшей его поддержки.";

block intro
  h1 #{ pageTitle }
  p #{ pageDesc }

block append toc
  :markdown-it
    - [Вводная информация](#intro)
        - [Описание сборки](#about)
        - [Установка сборки](#install)
    - [Ресурсы](#resource)
        - [Иерархия файлов](#hierarchy)
        - [Gulp](#gulp)
        - [Linter](#linter)
        - [Pug](#pug)
        - [Scss](#scss)
        - [JS](#js)
        - [Assets](#assets)

block content
  +h2("Вводная информация", "index.html", "intro")
  :markdown-it
    Раздел содержит первоначальную информацию по сборке.

  +h3("Описание сборки", "index.html", "about")
  :markdown-it
    Раздел содержит описание возможностей сборки - [**перейти в раздел**](intro/feature.html).

  +h3("Установка сборки", "index.html", "install")
  :markdown-it
    Раздел содержит инструкцию по установки сборки - [**перейти в раздел**](intro/install.html).
    
  +h2("Ресурсы", "index.html", "resource")
  :markdown-it
    Раздел содержит информацию по структуре сборки и ее ресурсам.

  +h3("Иерархия файлов", "index.html", "hierarchy")
  :markdown-it
    Раздел содержит информацию по структуре сборки и ее ресурсам - [**перейти в раздел**](resource).

  +h3("Gulp", "index.html", "gulp")
  :markdown-it
    Раздел содержит структуру gulp тасков, их описание и команды которыми они вызываются - [**перейти в раздел**](resource/gulp.html).
    
  +h3("Linter", "index.html", "linter")
  :markdown-it
    Раздел содержит описание настройки и использования линтера в сборке - [**перейти в раздел**](resource/linter.html).

  +h3("Pug", "index.html", "pug")
  :markdown-it
    Раздел содержит структуру pug шаблона и описание его использования - [**перейти в раздел**](resource/pug.html).

  +h3("Scss", "index.html", "scss")
  :markdown-it
    Раздел содержит структуру scss стилей и ее описание - [**перейти в раздел**](resource/scss.html).

  +h3("JS", "index.html", "js")
  :markdown-it
    Раздел содержит структуру js скриптов и описание их использования - [**перейти в раздел**](resource/js.html).

  +h3("Assets", "index.html", "assets")
  :markdown-it
    Раздел содержит описание таска **assets** - [**перейти в раздел**](resource/assets.html).
