@use "sass:map";

.container {
  display: grid;
  grid-template-areas: "header main";
  grid-template-columns: 260px 1fr;
  max-width: map.get($container-sizes, desktop);
  height: 100%;
  margin: 0 auto;
  padding: 0 $container-grid;
}

@include to(tablet) {
  .container {
    grid-template-columns: auto minmax(0, 1fr);
    padding: 0 $container-grid - 10;
  }
}

@include to(mobile) {
  .container {
    display: block;
  }
}
