// @link https://rolle.design/native-css-variables-vs-scss-variables
$black: #222;
$white: #fff;
$blue: #f2f6fb;
$blue-link: #0d6efd;
$grey: #dee2e6;
$grey-toc: #444;
$grey-dark: #fbfbfb;

:root {
  --theme-color-black: #{hextorgb($black)};
  --theme-color-white: #{hextorgb($white)};
  --theme-color-blue: #{hextorgb($blue)};
  --theme-color-blue-link: #{hextorgb($blue-link)};
  --theme-color-grey: #{hextorgb($grey)};
  --theme-color-grey-toc: #{hextorgb($grey-toc)};
  --theme-color-grey-dark: #{hextorgb($grey-dark)};
}

$font-primary: Roboto, -apple-system, Arial, sans-serif;

$fz: 16px;
$lh: 1.2;
$font-sizes: (
  xxs: 12px,
  xs: $fz,
  sm: 20px,
  md: 24px,
  lg: 28px,
  xl: 33px,
  xxl: 48px
);
$headlines: (
  h1: map-get($font-sizes, "xxl"),
  h2: map-get($font-sizes, "xl"),
  h3: map-get($font-sizes, "lg"),
  h4: map-get($font-sizes, "md"),
  h5: map-get($font-sizes, "sm"),
  h6: map-get($font-sizes, "xs")
);

$min-screen: 320px;
$container-sizes: (mobile: 768px, tablet: 1400px, desktop: 1740px);
$container-grid: 40px;

$transition: all 0.3s ease;
