include ../data/*.pug
include ../components/*.pug

block variables
  - var pageTitle = "Укажите заголовок";

doctype html
html.no-js(lang="ru")
  head
    include ../parts/head.pug

  body  
    div(hidden)
      include ../../assets/icons/sprite-mono.svg
      include ../../assets/icons/sprite-multi.svg
        
    <!--[if IE]>
    p.browser-upgrade.
      Вы используете #[strong устаревший] браузер, сайт может отображаться некорректно.<br>
      Пожалуйста #[a(rel="nofollow", href="https://browsehappy.com/", target="_blank") обновите]!
    <![endif]-->
  
    noscript
      p.browser-upgrade.
        #[b Javascript] отключен, некоторые функции сайта недоступны.<br>
        Пожалуйста #[a(rel="nofollow", href="https://support.google.com/adsense/answer/12654", target="_blank") включите javascript]!<br>

    .container
      block header
        include ../parts/header.pug

      main.main-content.main-content--full
        .main-content__intro
          block intro

        .main-content__content
          block content

    block scripts
      script(src="js/main.js?v=" + siteVersion, type="module")
